<div class="container">
    <form *ngIf="lesson"[formGroup]="formEditLesson" (ngSubmit)="submit()">
        <div class="controls">
            <button class="btn" type="submit">Сохранить</button>
            <button class="btn" type="button" [routerLink]="['/admin','lessons']">Вернуться</button>
            <button class="btn" type="button" (click)="toArchive()">Архивировать</button>
            <button class="btn" type="button" (click)="removeFromArchive()">Восстановить</button>
            <span *ngIf="lesson && lesson.isDelete">В архиве</span>
        </div>
        
        <div class="form-control">
            <label for="title">Заголовок</label>
            <input type="text" id="title" formControlName="title">
        </div>
        <div class="form-control ">
            <label for="text">Текст</label>
            <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                <ngx-editor formControlName="text" [editor]="editor" [disabled]="false" [placeholder]="'Введите текст...'"></ngx-editor>
            </div>
        </div>
        
    </form>
        <app-alert 
            *ngIf="viewAlertSuccess"
            [delay]="4000"
            [type]="'success'"
            [text]="textAlert"
            (close)="viewAlertSuccess = false">
        </app-alert>
        <app-alert 
            *ngIf="viewAlertErr"
            [delay]="4000"
            [type]="'error'"
            [text]="textAlert"
            (close)="viewAlertErr = false">
        </app-alert>
</div>