<div class="container ">
    <form *ngIf="lesson"[formGroup]="formEditLesson" (ngSubmit)="submit()">
        <div class="form-control">
            <label for="title">Заголовок</label>
            <input type="text" id="title" formControlName="title">
        </div>
        <div class="form-control ">
            <label for="text">Текст</label>
            <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                <ngx-editor formControlName="text" [editor]="editor" [disabled]="false" [placeholder]="'Введите текст...'"></ngx-editor>
            </div>
        </div>
        <button class="btn" type="submit">Сохранить</button>
        <button class="btn" [routerLink]="['/admin','lessons']">Вернуться</button>>
    </form>
    
</div>