:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --active-link: #5454D4;
  --base-bgc: #ffffff11;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
body ::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background: rgba(84, 84, 212, 0.27) 0%;
  opacity: 0.8;
}
body ::-webkit-scrollbar-thumb {
  background: rgba(84, 84, 212, 0.616) 0%;
  border-radius: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin: 1rem;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  margin: 10px;
}
.navbar ul li svg {
  fill: var(--active-link);
}
.navbar li.active a {
  color: var(--active-link);
  opacity: 1;
  cursor: default;
  size: 18px;
}
.navbar a {
  color: #fff;
  opacity: 0.7;
  padding: 0.65rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: var(--light-color);
}
.main-content {
  padding-top: 100px;
}
.base-container {
  position: relative;
  background-color: #19191B;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.base-container:after {
  content: '';
  position: absolute;
  width: 800px;
  height: 300px;
  left: 0px;
  top: 400px;
  z-index: -1;
  background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(9, 9, 241, 0.113) 100%);
  filter: blur(150px);
  border-radius: 233.5px;
  transform: rotate(-145deg);
}
.content-create {
  color: var(--light-color);
  overflow: auto;
  height: 86vh;
}
.content-admin {
  overflow: auto;
  height: 86vh;
}
.edit-container .controls span {
  color: var(--light-color);
  opacity: 0.6;
}
.content-lession {
  color: var(--light-color);
  overflow: auto;
  height: 86vh;
}
.container-chapters {
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff11;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  z-index: 1;
}
.container-chapters .container-chapters-items {
  padding: 5px;
  margin: 5px;
  background-color: #ffffff11;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}
.container-chapters .container-chapters-items a {
  color: var(--light-color);
  cursor: pointer;
  text-decoration: none;
}
.container-chapters .container-chapters-items:hover {
  background-color: #ffffff22;
  transform: translateX(10px);
}
.container-content {
  z-index: 1;
  display: flex;
  padding: 10px;
  margin: 10px;
  width: 75%;
  background-color: #ffffff11;
}
.testing-page {
  display: flex;
}
.lessons-container {
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  color: var(--light-color);
  overflow: auto;
}
.lessons-container .lessons-item {
  position: relative;
  margin: 15px;
  padding: 10px;
  background-color: #ffffff11;
  width: 300px;
  height: 250px;
}
.lessons-container .lessons-item .title {
  margin: 10px;
}
.lessons-container .lessons-item .text {
  overflow: hidden;
  display: block;
  width: 80%;
  height: 60%;
  margin: 10px;
}
.lessons-container .lessons-item.archived {
  color: #7f7f7f;
  background-color: #ffffff34;
}
.lessons-container .lessons-item small {
  margin-left: 50px;
}
.lessons-container .lessons-item:hover {
  border: 1px solid var(--active-link);
}
.btn {
  display: inline-block;
  background: var(--active-link);
  color: #ffffff;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.btn:disabled {
  cursor: not-allowed;
  background: var(--light-color);
  color: #111;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
a {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #666;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
.container {
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
.text-primary {
  color: var(--primary-color);
}
.text-dark {
  color: var(--dark-color);
}
.text-success {
  color: var(--success-color);
}
.text-danger {
  color: var(--danger-color);
}
.text-center {
  text-align: center;
}
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-content {
  margin-bottom: 0.5rem;
}
.list {
  margin: 0.5rem 0;
}
.list li {
  padding-bottom: 0.3rem;
}
.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}
.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}
.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}
.bg-primary {
  background: #65ad70;
}
.btn-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}
.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}
.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}
.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}
.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}
.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
.alert-warning {
  background-color: #f57200;
  color: #fff;
}
.btn:hover {
  opacity: 0.8;
}
.bg-light,
.badge-light {
  border: #ccc solid 1px;
}
.round-img {
  border-radius: 50%;
}
.form-control {
  display: block;
  color: #888;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}
.form-control.invalid {
  color: var(--primary-color);
}
.form-control.invalid input {
  border-color: var(--primary-color);
}
.form-control .validation {
  color: var(--primary-color);
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
input[type='submit'],
button {
  font: inherit;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  padding: 1rem;
  text-align: left;
}
table th {
  background: var(--light-color);
}
.genre-array {
  display: flex;
}
.genre-array .genre-input {
  margin-right: 20px;
}
.btn-admin {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.btn-admin a {
  color: white;
  background: #65ad70;
  padding: 10px;
}
