:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #cccaca;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --active-link: #5454D4;
  --base-bgc: #11112b;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
body .base-container {
  position: relative;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: 0;
}
body ::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background: rgba(84, 84, 212, 0.27) 0%;
  opacity: 0.8;
}
body ::-webkit-scrollbar-thumb {
  background: rgba(84, 84, 212, 0.616) 0%;
  border-radius: 10px;
}
.btn {
  display: inline-block;
  background: var(--active-link);
  color: #ffffff;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.btn:disabled {
  cursor: not-allowed;
  background: var(--light-color);
  color: #111;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  background-color: var(--base-bgc);
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  margin: 10px;
}
.navbar ul li svg {
  fill: var(--active-link);
}
.navbar li.active a {
  color: var(--active-link);
  opacity: 1;
  cursor: default;
  size: 18px;
}
.navbar a {
  color: #fff;
  opacity: 0.7;
  padding: 0.65rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: var(--light-color);
}
.container {
  padding-right: 100px;
  width: auto;
  height: 100vh;
  overflow: auto;
  padding: 6rem 13rem 0;
  color: var(--light-color);
}
.testing-page {
  display: flex;
}
.testing-page .container-chapters {
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff11;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  z-index: 1;
}
.testing-page .container-chapters .container-chapters-items {
  padding: 5px;
  margin: 5px;
  background-color: #ffffff11;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}
.testing-page .container-chapters .container-chapters-items a {
  color: var(--light-color);
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
.testing-page .container-chapters .container-chapters-items:hover {
  background-color: #ffffff22;
  transform: translateX(10px);
}
.testing-page .container-content-lesson {
  z-index: 1;
  display: flex;
  padding: 25px;
  margin: 10px;
  width: 75%;
  background-color: #ffffff11;
  color: var(--light-color);
  overflow: auto;
}
.edit-lessons-page {
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--light-color);
  overflow: auto;
}
.edit-lessons-page .lessons-item {
  position: relative;
  margin: 15px;
  padding: 15px;
  background-color: #ffffff11;
  width: 300px;
  height: 250px;
}
.edit-lessons-page .lessons-item .title {
  font-size: 16px;
  font-weight: bold;
}
.edit-lessons-page .lessons-item .text {
  overflow: auto;
  display: block;
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
  font-size: 14px;
}
.edit-lessons-page .lessons-item .archived {
  color: #7f7f7f;
  display: inline;
  margin: 10px;
}
.edit-lessons-page .lessons-item .archived input {
  margin-right: 10px;
}
.edit-lessons-page .lessons-item:hover {
  border: 1px solid var(--active-link);
}
.login-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100%;
}
.login-page .form-box {
  margin-top: 100px;
  width: 400px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid var(--light-color);
  border-radius: 5px;
  background: transparent;
  backdrop-filter: blur(5px);
}
.login-page .form-box .item .validation {
  color: var(--primary-color) !important;
}
.login-page .form-box .item .input-box {
  display: inline-block;
  width: 300px;
  border-bottom: 1px solid var(--light-color);
}
.login-page .form-box .item .input-box input {
  padding: 0px;
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--light-color);
  transition: 0.5s;
}
.login-page .form-box .item .input-box input:focus ~ label {
  transform: translateY(-230%);
}
.login-page .form-box .item .input-box input:valid ~ label {
  transform: translateY(-230%);
}
.login-page .form-box .item .input-box label {
  display: block;
  position: absolute;
  transform: translateY(-120%);
  transition: 0.5s;
  pointer-events: none;
}
.login-page .form-box .item i {
  position: absolute;
  transform: translateX(-130%) translateY(60%);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
a {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #666;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
.text-primary {
  color: var(--primary-color);
}
.text-dark {
  color: var(--dark-color);
}
.text-success {
  color: var(--success-color);
}
.text-danger {
  color: var(--danger-color);
}
.text-center {
  text-align: center;
}
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-content {
  margin-bottom: 0.5rem;
}
.list {
  margin: 0.5rem 0;
}
.list li {
  padding-bottom: 0.3rem;
}
.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}
.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}
.alert {
  position: absolute;
  border-radius: 10px;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transform: translate(0px, -50px);
  transition: 1s;
  background: var(--light-color);
  color: #333;
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
    bottom: -50px;
  }
  100% {
    opacity: 1;
    bottom: 10px;
  }
}
.bg-primary {
  background: #65ad70;
}
.btn-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}
.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}
.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}
.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}
.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}
.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
.alert-warning {
  background-color: #f57200;
  color: #fff;
}
.btn:hover {
  opacity: 0.8;
}
.bg-light,
.badge-light {
  border: #ccc solid 1px;
}
.round-img {
  border-radius: 50%;
}
.form-control {
  display: block;
  color: #888;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}
.form-control.invalid {
  color: var(--primary-color);
}
.form-control.invalid input {
  border-color: var(--primary-color);
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
input[type='submit'],
button {
  font: inherit;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  padding: 1rem;
  text-align: left;
}
table th {
  background: var(--light-color);
}
.genre-array {
  display: flex;
}
.genre-array .genre-input {
  margin-right: 20px;
}
.btn-admin {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.btn-admin a {
  color: white;
  background: #65ad70;
  padding: 10px;
}
